body {
  background-color: rgb(44, 44, 44);
  color: white;
}

.mdl-textfield__input {
  border-bottom: 1px solid rgb(255 255 255 / 12%) !important;
  color: white !important;
}

.mdl-textfield__label {
  color: rgba(255, 255, 255, 0.5) !important;
}

.mdl-list__item-primary-content {
  color: white !important;
}

dialog {
  background-color: rgb(86, 86, 86);
  color: white;
}

option {
  color: black;
}

.reward-points-list {
  color: white !important;
  border: 1px white solid;
}

.list-table-props {
  color: #ffffff9e !important;
}

.mdl-data-table {
  background-color: #2b2b2b !important;
}

.mdl-data-table th {
  color: white !important;
}

.mdl-data-table tbody tr:hover {
  background-color: #eeeeee14 !important;
}