body {
  /* overflow: hidden; */
  overflow-x: hidden;
}

.hidden {
  display: none;
}

.column1 {
  float: left;
  width: 35%;
  max-width: 490px;
  padding: 10px;
}

.column2 {
  padding-left: 15px;
}

.row {
  width: 100vw;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.main-title {
  font-size: 2.5rem;
  font-weight: 600;
}

.sub-title {
  font-size: 2rem;
  padding: 28.4px 0;
}

.sub-title2 {
  font-size: 1.5rem;
  padding: 5px 0;
}

.button-list {
  margin-top: 20px;
}

.theme-switch-button {
  position: absolute;
  right: 30px;
  top: 5px;
}

.mdl-data-table th {
  color: black;
}

.copy {
  cursor: copy;
}

#connect-twitch-btn,
#disconnect-twitch-btn {
  background-color: purple;
}

#channel-points-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#version {
  position: fixed;
  bottom: 5px;
  right: 5px;
  opacity: 20%;
}
